body {
    margin: 5%;
    background-color: rgba(37, 58, 51, 0.855);
    color: aliceblue;
}

h1 {
    font-size: 45px;
    margin-top: 0;
}

h2 {
    opacity: 45%;
    margin-top: -3.5%;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 8%;
}

h4 {
    font-size: 25px;
    margin: 2%;
}

img {
    max-width: 80%;
}

article img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 5%;
    font-size: 20px;
    margin-bottom: 5%;
    font-weight: bold;
}

nav ul :hover {
    color: rgba(18, 27, 24, 0.855);
}

/* klasser */

.kurv {
    background-color: rgba(97, 116, 110, 0.855);
    max-width: 20%;
    padding: 3%;
    text-align: center;
    margin-top: 10%;
    color: white;
}

.kurv a {
    text-decoration: none;
    color: white;
}

.kurv:hover {
    font-weight: bold;
    background-color: rgb(158, 158, 158)
}

.nav_kurv {
    max-width: 25%;
    position: relative;
    top: -38%;
}

nav ul li {
    margin-right: -18%;
}

.information_boks {
    margin-top: 15%;
    border: solid white 2px;
    opacity: 70%;
    max-width: 70%;
}

.information_boks p {
    margin: 2%;
}

.brand {
    margin: 2%;
    margin-top: -1%;
    font-size: 17px;
}

.pris {
    margin: 2%;
}

.mere {
    text-align: center;
    text-decoration: underline;
}


.grid a {
    position: relative;
}

.soldout {
    position: absolute;
    top: 59.3%;
    left: 0;
    background-color: black;
    padding: 1rem;
}

.rabat {
    position: absolute;
    top: 59.3%;
    left: 81.2%;
    background-color: red;
    padding: 1rem;
}

.logo {
    position: relative;
    left: -65%;
    font-size: 30px;
}

.grid_1_1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4%;
}

.grid_kategori {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4%;
}


.grid_kategori div {
    text-align: center;
    margin-bottom: 10%;
    background-color: rgba(97, 116, 110, 0.855);
    background-size: 92%;
    padding: 7%;
}

.grid_kategori div:hover {
    transform: scale(1.1);
    color: rgba(37, 58, 51, 0.855);
    background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1165.webp);
    background-size: 94%;
}


.grid_kategori div h1 {
    color: white(98, 139, 126, 0.855);
    margin-top: 20%;
}